<div class="row">
  <div class="col-md-6 mx-auto">

<div class="card card-body">
<h4 class="card-title">Add Notes</h4>
    <form action="/ideas" method="POST">
<fieldset class="form-group">
<label for="first_name">Title</label>
<input type="text" class="form-control" id="first_name" name="title" required>
</fieldset>
<fieldset class="form-group">
<label for="last_name">Details</label>
<input type="text" class="form-control" id="last_name" name="details" required>
</fieldset>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>